<div class="home-container">
    <div class="home__header"> 
        <div class="home__header__left"> 
            <img src="assets/fb-head.jpg" alt="logo" mat-card-avatar> 
            <div class="input" >
            <mat-icon>search_outline</mat-icon>
                <form>
                    <input type="text" placeholder="Search Facebook">
                </form>
            </div>
        </div>   
        
        <div class="home__header__middle">
            <div class="active">
                <mat-icon>home</mat-icon>
            </div> 
            <div>
                <mat-icon>ondemand_video</mat-icon>
            </div> 
            <div>
                <mat-icon>store</mat-icon>
            </div> 
            <div>
                <mat-icon>group</mat-icon>
            </div> 
            <div>
                <mat-icon>flag</mat-icon>
            </div>
        </div>



        <div class="home__header__right"> 
            <div> 
                <img src="" alt="avatar" mat-card-avatar> 
                <span class="name">MY NAME</span>
            </div>
        </div>
    </div> 
    <div class="home__body"></div>
</div>
